.project {
    background: radial-gradient(circle, $color-white, $color-blue);
}

.projects.wrapp {
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects__box {
    height: 550px;
    margin-top: 20px;
    box-shadow: 5px 10px 25px $color-blue;
    position: relative;
}

.projects__box-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    min-width: 100%;
    display: none;

    animation: projects-img-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    &:first-child {
        display: block;
    }
}

.preview {
    display: block;
}

.projects__box-title {
    color: $color-red;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
}

@keyframes projects-img-up {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@include bp($break-mobile) {
    .projects.wrapp {
        padding-top: 135px;
        margin-bottom: 120px;
    }

    .projects__box {
        margin-top: -36px;
        height: 450px;
    }

    .projects__box-img {
        &:nth-child(2) {
            .projects__box-title {
                color: $color-white;
            }
        }
    }

    .projects__box-title {
        padding-top: 40%;
    }
}


