$break-mobile: 767px;
$break-tablet: 1024px;

$color-blue-light: #e5eaea;
$color-blue: #024574;
$color-gray: #666;
$color-gray-dark: #555;
$color-white: #fff;
$color-red: #b22;
$color-purple: #551a8b;

$opensans: 'Open Sans', Arial, sans-serif;
